@model Project2WooxTravel.Entities.Admin
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">

        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" style="background-color: #2E8C03">
                        <div class="card-title">Profile Update Page</div>
                    </div>
                    <div class="card-body">
                        <form method="post">
                            <label>Name</label>
                            @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
                            <br />
                            <label>Surname</label>
                            @Html.TextBoxFor(x => x.Surname, new { @class = "form-control" })
                            <br />
                            <label>E-Mail</label>
                            @Html.TextBoxFor(x => x.Email, new { @class = "form-control" })
                            <br />
                            <label>User Name</label>
                            @Html.TextBoxFor(x => x.Username, new { @class = "form-control" })
                            <br />
                            <label>Password</label>
                            @Html.PasswordFor(x => x.Pasword, new { @class = "form-control" })
                            <br />                           
                            <button class="btn btn-success">Update Profile</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
